.centered {
    max-width:320px;
    margin-left:auto;
    margin-right:auto;
}

.hidden {
    display: none;
}

.highlight {
    background-color: #ffe706;
}

/*#step-column {
    padding-top: 19px;
}*/

#progress {
    color: #333 !important;
    
}

.well {
    margin-top: 15px;
}

